@font-face {
  font-family: Zilla;
  src: url(../Fonts/Zilla.ttf);
}

#index{
  text-align: center;
}
a{
  text-decoration: none;
  margin-top: 40px;
  color: white;
}

html{
  margin: 0;
  padding-top: 10%;
  background: #6ECDA3;
  background: #D8B643;
  background: -webkit-linear-gradient(to top, #D8B643, #96D0A1)fixed;
  background: -moz-linear-gradient(to top, #D8B643, #96D0A1)fixed;
  background: linear-gradient(to top, #D8B643, #96D0A1)fixed;
}

h1{
  font-family:Zilla;
  font-size: 70px;
  color: white;
  text-decoration: underline;

}

#enter{
  display: inline-block;
  border: 1px solid white;
  color: white;
  font-family:Segoe UI ;
  padding: 10px 30px 10px 30px;
  transition-duration: 0.8s;
  font-size: 20px;
}

#enter:hover{
  background-color: #96D0A1;
  border: none;
}

.text-muted{
  background: transparent;
}

p{
  width: 50%;
  margin-left: 25%;
  font-size: 20px;
  color: grey;
  font-family: Courier New;

}
